@media (max-width: 1200px)
  .container
    max-width: 960px
  .main
    &__button
      &-dark
        padding: 18px 20px
      &-light
        padding: 17px 25px
  .recommend
    &-container
      flex-wrap: wrap
    &-left
      width: 100%
    &-list
      &__item
        width: 50%
    &-item
      &-wrapper
        width: 100%
        padding: 0
      &-text
        width: 200px
    &-image
      &-container
        width: 230px
        height: 360px
    &-button
      &-container
        width: 100%
        margin-bottom: 56px
      &-text
        top: 40%
        left: 40%
        font-size: 20px
        line-height: 24px
    &-right
      width: 100%
    &__line
      width: 90%
  .top
    &-list
      flex-direction: row
      flex-wrap: wrap
      &-book
        width: 50%
      &-text
        text-align: center
        font-size: 20px
        line-height: 24px
    &-book
      &-wrapper
        width: 100%
        padding: 0
        margin-bottom: 24px
      &-text
        width: 200px
      &-title
        margin-bottom: 19px
      &-price
        margin-bottom: 24px
    &-image
      &-container
        width: 230px
        height: 360px
    &-image
      width: 100%
      height: 100%
  .swiper
    width: 960px
    height: 670px
    &-wrapper
      display: flex
      flex-direction: row
      flex-wrap: wrap
@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &__button
      &:hover
        text-decoration: none
    &-menu
      &__link
        &:hover
          text-decoration: none
  .main
    &-info
      max-width: 370px
      flex-grow: 1
    &__title
      &-name
        width: 300px
        font-size: 32px
        line-height: 40px
        margin-bottom: 24px
      &-field
        font-size: 32px
        line-height: 40px
    &-subtitle
      font-size: 16px
      line-height: 24px
      margin-bottom: 32px
    &-image
      top: 103px
      left: 30px
      &-container
        padding: 103px 30px
    &-text
      font-size: 16px
      line-height: 23px
      margin-bottom: 19px
    &__button
      display: flex
      flex-wrap: wrap
      &-dark
        text-align: center
        padding: 15px 30px
        margin-right: 0
        margin-bottom: 12px
        flex-basis: 85%
        font-size: 16px
        line-height: 22px
        &:hover
          text-decoration: none
      &-light
        text-align: center
        padding: 14px 30px
        margin-right: 0
        margin-bottom: 15px
        flex-basis: 85%
        font-size: 16px
        line-height: 22px
        &:hover
          text-decoration: none
  .modal
    &__button
      &:hover
        text-decoration: none
  .recommend
    &-image
      &-container
        width: 160px
        height: 238px
    &-item
      &-text
        width: 170px
      &-button
        &:hover
          text-decoration: none
  .top
    &-image
      &-container
        width: 160px
        height: 238px
    &-book
      &-text
        width: 170px
      &-button
        &:hover
          text-decoration: none
@media (max-width: 767px)
  .container
    max-width: 576px
  .navbar
    &-menu
      padding-top: 18px
      padding-bottom: 49px
      &__right
        display: none
  .menu
    &-button
      width: 22px
      height: 18px
      display: flex
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $white
      cursor: pointer
      &__line
        width: 22px
        height: 2px
        background-color: #3A4C66
  .main
    &-wrapper
      width: 100%
      flex-direction: column
    &-info
      align-items: center
      padding-top: 0
      min-width: 100%
    &__title
      &-name
        width: 100%
        text-align: center
    &-subtitle
      margin-bottom: 32px
    &-text
      text-align: center
      margin-bottom: 14px
    &__button
      min-width: 100%
      align-items: center
      justify-content: center
      margin-bottom: 21px
    &-image
      top: 60px
      left: 69px
      width: 438px
      &-container
        width: 576px
        padding: 0
      &-block
        width: 100%
  .modal
    &__overlay
      overflow-y: auto
      overflow-x: auto
    &__dialog
      width: 378px
      padding: 30px 60px
      margin-top: 50px
    &__input
      &-group
        width: 100%
    &__info
      margin-bottom: 20px
      &-wrapper
        flex-direction: column-reverse
        align-items: flex-start
    &__button
      width: 100%
  .recommend
    &-container
      padding-top: 200px
    &-list
      flex-direction: column
      &__item
        width: 100%
        &--remove
          display: none
    &-image
      &-container
        width: 230px
        height: 360px
    &-item
      &-text
        width: 250px
      &-wrapper
        justify-content: space-evenly
    &-title
      text-align: center
    &-button
      &-text
        left: 30%
  .top
    &-list
      flex-direction: column
      &-book
        width: 100%
    &-book
      &-wrapper
        justify-content: space-evenly
        margin-bottom: 33px
      &-text
        width: 250px
    &-image
      &-container
        width: 230px
        height: 360px
@media (max-width: 670px)
  .container
    max-width: 95%
  .main
    &-wrapper
      padding-left: 20px
      padding-right: 20px
    &-info
      min-width: 100%
    &-image
      top: 60px
      left: 69px
      width: 350px
      &-container
        width: 493px
        padding: 0
      &-block
        width: 100%
@media (max-width: 576px)
  .container
    max-width: 95%
  .main
    &__button
      &-dark
        padding: 8px 4px
      &-light
        padding: 8px 4px
    &-image
      top: 60px
      left: 147px
      width: 144px
      &-container
        width: 438px
        height: 333px
        padding: 0
      &-block
        width: 100%
  .modal
    &__dialog
      width: 90%
      padding: 30px 40px
    &__input
      &-group
        width: 100%
  .recommend
    &-container
      padding-top: 56px
    &-title
      font-size: 28px
      line-height: 36px
      margin-bottom: 44px
    &-image
      &-container
        width: 144px
        height: 215px
    &-item
      &-wrapper
        flex-direction: column
        align-items: center
      &-feedback
        width: 155px
      &-button
        min-width: 115px
      &-text
        width: 100%
        align-items: center
      &-button
        &-text
          left: 27%
  .top
    &-book
      &-text
        width: 200px
    &-image
      &-container
        width: 144px
        height: 215px
  .icon
    min-width: 19px
    min-height: 21px
@media (max-width: 485px)
  .recommend
    &-list
      &__item
        margin-bottom: 26px
        &--remove
          &--2
            display: none
    &-image
      &-container
        margin-bottom: 20px
        width: 96px
        height: 137px
    &-item
      &-title
        font-size: 20px
        line-height: 24px
        margin-bottom: 12px
        padding: 0
      &-field
        font-size: 14px
        line-height: 20px
        margin-bottom: 16px
      &-price
        font-size: 16px
        line-height: 20px
        margin-bottom: 20px
    &-button
      margin-bottom: 56px
      &-text
        font-size: 16px
        line-height: 20px
        left: 30%
        text-transform: none
    &-title
      &-mb
        margin-bottom: 47px
  .top
    &-list
      align-items: center
      &-text
        padding-top: 20px
        padding-left: 0
        padding-right: 0
        &__title
          font-size: 16px
          line-height: 20px
      &-book
        width: 290px
    &-image
      &-container
        width: 96px
        height: 142px
    &-book
      &-text
        width: 175px
        align-items: flex-start
      &-wrapper
        padding-top: 14px
        padding-left: 4px
        justify-content: space-between
        margin-bottom: 22px
      &-title
        font-family: 'Roboto Condensed', sans-serif
        font-weight: 700
        font-size: 16px
        line-height: 24px
        padding: 0
        width: 108px
        margin-bottom: 12px
      &-price
        margin-bottom: 14px
@media (max-width: 480px)
  .container
    max-width: 280px
  .navbar
    &-menu
      max-width: 280px
  .main
    &-wrapper
      max-width: 280px
      padding-left: 0
      padding-right: 0
      padding-top: 0
    &-info
      max-width: 280px
    &__button
      &-dark
        max-width: 176px
      &-light
        max-width: 176px
  .recommend
    &-button
      &-text
        left: 61px
        top: 14px
      &-container
        height: 48px
@media (max-width: 320px)
  .container
    max-width: 280px
