*
  box-sizing: border-box

body
  font-family: 'Open Sans', sans-serif
  background-color: $background
.container
  max-width: 1140px
  margin: auto
.button
  cursor: pointer
  overflow: hidden
  outline: none
.input
  background-color: $white
  color: $text-color
  border-radius: 8px
  border: none
  padding: 0 23px
  height: 50px
  font-size: 16px
  line-height: 22px
  outline: none
.message
  background-color: $white
  border-radius: 8px
  padding: 18px 23px
  border: none
  color: $text-color
  font-size: 16px
  line-height: 22px
.invalid
  position: static
  bottom: 0
  left: 0
  padding-left: 23px
  color: $primary
  font-size: 10px
  line-height: 13px
  font-family: inherit
