*
  box-sizing: border-box

body
  font-family: 'Open Sans', sans-serif
  background-color: $background
.container
  max-width: 1140px
  margin: auto
.button
  cursor: pointer
  overflow: hidden
.input
  background-color: $white
  color: $text-color
  border-radius: 8px
  border: none
  padding: 0 23px
  height: 50px
  font-size: 16px
  line-height: 22px
.message
  background-color: $white
  border-radius: 8px
  padding: 18px 23px
  border: none
  color: $text-color
  font-size: 16px
  line-height: 22px
