.navbar
  &-menu
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 37px
    padding-bottom: 26px
    &__link
      text-decoration: none
      color: $title-color
      font-size: 16px
      line-height: 22px
      font-weight: 600
      &:hover
        text-decoration: underline
      &:active
        color: $orange
    &__right
      width: 465px
      display: flex
      align-items: center
      justify-content: space-between
    &-list
      width: 257px
      list-style-type: none
      margin: 0
      padding: 0
      display: flex
      align-items: center
      justify-content: space-between
    &-button
      display: none
  &__button
    width: 148px
    height: 48px
    font-size: 16px
    line-height: 22px
    font-weight: 700
    padding: 13px 28px
    text-align: center
    border: 2px solid #1565D8
    color: $light-blue
    border-radius: 8px
    background-color: $white
    &:hover
      text-decoration: underline
    &:active
      color: $orange
.menu
  &-button
    display: none
